body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            color: #333;
        }
        header {
            background: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
        }
        header h1 {
            margin: 0;
            font-size: 2.5rem;
        }
        header p {
            margin: 5px 0;
        }
        #quote {
            text-align: center;
            margin: 20px 0;
        }

        #quote :hover {
            text-decoration: underline;
        }
        section {
            padding: 20px;
            margin: 20px auto;
            max-width: 1000px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
            border-color: green;
        }
        h2 {
            color: #333;
            font-size: 2rem;
            margin-bottom: 10px;
        }
        .skills, .portfolio {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .skills div, .portfolio div {
            width: 48%;
            margin-bottom: 20px;
        }
        .portfolio img {
            max-width: 100%;
            border-radius: 8px;
        }
        footer {
            background: #333;
            color: #fff;
            text-align: center;
            padding: 10px;
            position: fixed;
            width: 100%;
            bottom: 0;
        }
        footer p {
            margin: 0;
        }

        .milo {
            border: 2px solid #009933;
            margin-bottom: 20px;
            float: left;
        }
        .links {
            font-size: 20px;
             border: 5px dotted black;
        }
